.banner {
  position: relative;
  transition-duration: 0.75s;
}
.banner-full-scene {
  min-height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
.banner-text {
  position: absolute;
  top: 25px;
  padding: 0.45em 2em;
  text-align: center;
  font-size: 20pt;
  font-family: "Dancing Script", cursive;
}

.banner:hover {
  translate: 0 -1px;
  box-shadow: 4px 4px 4px rgba(var(--quat-c), 0.75);
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Inter Tight', sans-serif;
font-family: 'The Nautigal', cursive; */
