.banner {
  position: relative;
  transition-duration: 0.75s;
}
.banner-full-scene {
  min-height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
.banner-content {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 10px;
  right: 10px;
  padding: 0.45em 2em;
  text-align: center;
}
.banner-title {
  font-size: 50pt;
  font-weight: 750;
  font-family: "The Nautigal", cursive;
  text-shadow: 1px 1px rgba(var(--light-c), 0.75);
}
.banner-text {
  font-size: 15pt;
  font-weight: 500;
  font-family: "Inter Tight", cursive;
  text-shadow: 0.5px 0.5px rgba(var(--light-c), 0.75);
}

.banner:hover {
  translate: 0 -1px;
  box-shadow: 4px 4px 4px rgba(var(--quat-c), 0.75);
}

/* font-family: 'Dancing Script', cursive;
font-family: 'Inter Tight', sans-serif;
font-family: 'The Nautigal', cursive; */
